/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/*--reset--*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/*--start editing from here--*/
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*--end reset--*/
body {
    background: url("../images/ban111.jpg");
	background-position: center;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
   font-family: 'Satisfy', cursive;
}

   h1 {
    font-size: 3em;
    text-align: center;
    color: #fff;
    font-weight: 800;
    /* text-transform: uppercase; */
    letter-spacing: 7px;
	font-family: 'Satisfy', cursive;
}
h1 span {
    color: #ea1d63;
}
p{
font-family: 'Open Sans Condensed', sans-serif;
}
/*-- main --*/
.main-agile {
     padding: 4em 0;
} 
.w3ls-grids{
    width: 65%;
    margin: 3em auto;
}
.w3ls-left{
    float: left;
    width: 60%;
    text-align: center;
}
.w3ls-dot{
	padding: 2em 2em;
}
.w3ls-left h2{
    color: #FFFFFF;
    font-size: 1.2em;
    margin: 1em 0 0 0;
}
.w3ls-right{
    float: left;
    width: 40%;
}
.w3-heading h3 {
    font-size: 2.5em;
    text-shadow: 2px 3px rgba(0, 0, 0, 0.21);
    letter-spacing: 12px;
	line-height: 1.5em;
	color:#ea1d63;
}

.w3-heading h4 {
    font-size: 2em;
    color: #fff;
	line-height: 1.5em;
	letter-spacing: 2px;
	
}
.w3-heading p {
    margin: 1em 0 0 0;
	color: #ffffffd1;
	line-height: 1.8em;
	letter-spacing: 1px;
}
.w3l-dot {
    padding: 4em 0em 2em 0!important;
}
.agileits-nav{
	text-align:center;
}
.agileits-nav ul{
	padding:0;
	margin:0;
}
.agileits-nav ul li{
	display:inline-block;
	margin-left:1em;
}
.agileits-nav ul li:nth-child(1){
	margin-left:0;
}
.agileits-nav ul li a{
	color:#FFFFFF;
	font-size:.9em;
	transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.agileits-nav ul li a:hover{
	color:#ff9800;
}
.w3ls-banner-shadow {
	text-align: center;
    margin: 3em auto;
    width: 70%;
}
.w3ls-banner-shadow h3{
	font-size: 2em;
    margin: 0;
    font-weight: 800;
    text-transform: uppercase;
    color: #FFFFFF;
    z-index: 9;
    letter-spacing: 7px;
}
.w3ls-banner-shadow p{
    font-size: .9em;
    color: #FFFFFF;
    z-index: 9;
    margin: 1em 0 0 0;
}


/*-- /submit --*/
.content3 a {
    background: #ea1d63;
    font-size: 16px;
    padding: 12px 30px;
    display: initial;
    border-radius: 30px;
	transition:0.5s all;
	transition: background .3s, box-shadow .3s;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
}
.content3 a:hover{
    background: #1cc7d0;
}
.content3  a{
    color: #fff;
}
.content3 {
    position: absolute;
    right: 15%;
	bottom: 9%;
}
.main-agile {
    position: relative;
}
.content3 a:focus{
    outline: none;
}

h3.sub-head-w3-agileits {
    font-size: 25px;
    text-align: center;
    margin-bottom: 30px;
}

tr.ant-table-row.ant-table-row-level-0 {
    background: palevioletred;
}
.icon {
    text-align: center;
}
.icon span.fa {
    font-size: 40px;
    margin-bottom: 20px;
	color: #888;
}
.container-w3 {
    width: 42%;
    padding: 3em;
    /* margin: 3em auto; */
    float: left;
}
/*-- /submit --*/
.w3-title{
    text-align: center;
    margin: 0 0 2em 0;
}
 .w3-title h2, .wthree-title h2 {
    color: #fd5c63;
    font-size: 2.5em;
    margin: 0;
    font-weight: 400;
    letter-spacing: 5px;
    text-shadow: 1px 4px 11px rgba(82, 96, 101, 0.25);
    letter-spacing: 4px;
}
.w3-title p,.wthree-title p{
    color: #212121;
    font-size: .9em;
    margin: .5em 0 0 0;
}
.wthree-title h2,.wthree-title p{
	color:#FFFFFF;
}
.wthree-social{
    text-align: center;
    margin: 2em 0 0 0;
}
.agileinfo-social-grids ul {
    padding: 0;
    margin: 0;
}
.agileinfo-social-grids ul li {
    display: inline-block;
    margin: 0 .5em 0 0;
}
.agileinfo-social-grids ul li a {
    color: #FFFFFF;
    text-align: center;
}
.agileinfo-social-grids ul li a i.fa.fa-facebook, .agileinfo-social-grids ul li a i.fa.fa-twitter, .agileinfo-social-grids ul li a i.fa.fa-rss{
    height: 30px;
    width: 30px;
    line-height: 30px;
    border: solid 1px #212121;
    color: #212121;
    background: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.agileinfo-social-grids ul li a i.fa.fa-facebook:hover {
	border: solid 1px #3b5998;
	background:#3b5998;
    color: #FFFFFF;
}
.agileinfo-social-grids ul li a i.fa.fa-twitter:hover{
	border: solid 1px #55acee;
	background:#55acee;
	color: #FFFFFF;
}
.agileinfo-social-grids ul li a i.fa.fa-rss:hover{
	border: solid 1px #f26522;
	background:#f26522;
	color: #FFFFFF;
}
.copyright{
	text-align:center;
}
.copyright p{
    color: #FFFFFF;
    margin: 3em 0 0 0;
    font-size: 1.2em;
	
}
.copyright p a{
    color: #ea1d63;
	transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
.copyright p a:hover{
	color:#FFFFFF;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
:-moz-placeholder { /* Firefox 18- */
  color: #fff;
}

/*-- responsive --*/
/*-- /responsive design --*/
@media(max-width:1440px){
}
@media(max-width:1366px){
}
@media(max-width:1280px){
}
@media(max-width:1080px){
.w3-heading h3 {
    letter-spacing: 7px;
}
.content3 {
    right: 12%;
}
}
@media(max-width:1024px){
.w3-heading h3 {
    letter-spacing: 6px;
}
}
@media(max-width:991px){
}
@media(max-width:800px){
.w3ls-right {
    float: none;
    width: 100%;
}
.w3ls-left {
    float: none;
    width: 100%;
}
.content3 {
    right: 19%;
    bottom: 12%;
}
}
@media(max-width:768px){

}
@media(max-width:736px){
}
@media(max-width:667px){
}
@media(max-width:640px){
	h1 {
    font-size: 2.8em;
}

}
@media(max-width:600px){
	h1 {
    font-size: 2.5em;
}
}
@media(max-width:568px){
	h1 {
    font-size: 2.2em;
}
}
@media(max-width:480px){
	h1 {
    font-size: 1.8em;
}
.w3-heading h3 {
    font-size: 2em;
}
.content3 {
    right: 7%;
    bottom: 16%;
}
.w3ls-grids {
    width: 90%;
    margin: 2em auto;
}
}
@media(max-width:414px){
	h1 {
    letter-spacing: 3px;
}
.w3-heading h4 {
    font-size: 1.2em;
}
.w3-heading h4 {
    font-size: 1.2em;
}
}
@media(max-width:384px){
}
@media(max-width:375px){
}
@media(max-width:320px){
}
/*-- /responsive design --*/
/*-- //responsive --*/